<#include "base.html">
    <div class="container container-home col-8-home col-8-imp">
        
                                
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <section id="team" class="white-bg padding-top-bottom">
		<div class="container bootstrap snippets bootdey">
			<h1 class="section-title text-center page-title">Unser Team</h1>
			<p class="section-description text-center">Da das ein Familienprojekt ist sind wir ein relativ kleines Team </p>	

			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/avatar/5.png" alt="av">
					<a href="/profil/Cori77"><h4>Corinna Herpers</h4></a>
					<p class="title">Website Besitzerin &amp; Administrator</p>
				</div>
				<div class="col-sm-7">
					<div class="container-home">
						
							<a href="mailto:corinna@wolkennet.de"><i class="fa fa-envelope fa-2x pleft"></i></a>
							<a href="tel:01711413801"><i class="fa fa-phone fa-2x pleft"></i></a>
							<a href="tel:01711413801"><i class="fab fa-facebook fa-2x pleft"></i></a>
						
					</div>
				</div>
			</div>

			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/avatar/4.png" alt="av">
					<a href="/profil/realMarc"><h4>Marc Andre Herpers</h4></a>
					<p class="title">Lead Developer &amp; Designer</p>
				</div>
				<div class="col-sm-7">
					<div class="container-home">
						
							<a href="mailto:marc@wolkennet.de"><i class="fa fa-envelope fa-2x pleft"></i></a>
							<a href="https://github.com/MarcPlaying"><i class="fa fa-github fa-2x pleft"></i></a>
						
					</div>
				</div>
			</div>
			
			
			
			
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/avatar/12.png" alt="av">
					<a href="/profil/Snide007"><h4>Jens Herpers</h4></a>
					<p class="title">Administrator</p>
				</div>
				<div class="col-sm-7">
					<div class="container-home">
						
					</div>
				</div>
			</div>
		</div>
	</section>    
</div>                    
    </div>
    <#include "footer.html">